_site
.sass-cache
.jekyll-cache
.jekyll-metadata
vendor
Gemfile.lock

/publications/publications.aux
/publications/publications.bbl
/publications/publications.blg
/publications/publications.log
/publications/publications.out
/publications/publications.synctex.gz
