---
---
{{reference}}


<div id="{{key}}-materials">



    {% if link %}
    <a href="{{link}}">File</a>
    {% endif %}
    
    {% if entry.doi %}
    <a href="http://dx.doi.org/{{entry.doi}}">DOI:{{entry.doi}}</a>
    {% endif %}


    {% if entry.eprint %}
    <a href="http://arxiv.org/abs/{{entry.eprint}}">arxiv:{{entry.eprint}}</a>
    {% endif %}

    {% if entry.url %}
    <a href="{{entry.url}}">Link</a>
    {% endif %}


    <a data-toggle="collapse" href="javascript:toggleDiv('{{key}}-bibtex')">BibTeX</a>
    
	<div id="{{key}}-bibtex" style="display:none;">
    <pre class="collapse">{{entry.bibtex}}</pre>
    </div>

<p/>

</div>

<script>
function toggleDiv(key) {
	var element = document.getElementById(key)
	if (element.style.display == 'block') {
		element.style.display = 'none'
	} else {
		element.style.display = 'block'
	}
}
</script>




